*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
/* header start */
header{
     margin: 20px auto;
     display: flex;
     justify-content: space-around;
     align-items: center;
}
header h2{
     font-size: 2.3rem;
     color: black;
     font-weight: 800;
}
.geo{
     color: slategray;
     font-size: 2rem;
}
.blog{
     width: 140px;
     height: 60px;
     outline: none;
     border: none;
     color:white;
     background: rgb(64, 128, 218);
     border-radius: 10px;
     letter-spacing: 2px;
     cursor: pointer;
}
.blog:hover{
     background:rgb(114, 162, 230) ;
}
/* header end */
/* card container start*/
.container{
     max-width: 1640px;
     margin: 30px auto;
     display: flex;
     justify-content: space-between;
}
img{
     width: 350px;
}
.box-img img{
     width: 100%;
}
.card-container{
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-wrap: wrap;
     gap: 20px;
}
.card-box{
     width: 350px;
     text-align: center;
     border: 2px solid grey;
     border-radius: 10px;
     cursor: pointer;
     transition: all 0.3s ease-in-out;
}
.card-box h3{
     font-size: 3rem;
     margin-top: 10px;
     margin-bottom: 5px;
}
.card-box h4{
     color: lightslategray;
}
.card-box input[type=number]{
     width: 80px;
     height: 30px;
     border-radius: 10px;
     margin-top: 20px;
     outline: none;
     padding: 5px 10px;
}
.calculate{
     display:block ;
     text-align: center;
     width: 90%;
     margin: 20px auto;
     padding: 10px 20px;
     border-radius: 30px;
     letter-spacing: 2px;
     background: rgb(27, 109, 216);
     cursor: pointer;
}
.calculate:hover{
     background: rgb(114, 162, 230);
}
.card-box:hover{
     box-shadow: 12px 8px 2px 1px rgba(27, 27, 28, 0.2);
}

.box-1{
     background: rgb(212, 213, 199);   
}
.box-2{
     background: rgb(243, 234, 234);
}
.box-3 h2,.box-4 h2,.box-5 h2,.box-6 h2{
     font-size: 1.5rem;
     margin-top: 10px;
     color: lightslategray;
}
.box-3{
     background: rgb(160, 229, 187);
}
.box-4{
     background: rgb(192, 214, 92);
}
.box-5{
     background: rgb(234, 223, 237);
}
.box-6{
     background: rgb(231, 236, 235);
}
.ruselt-container{
     width: 600px;
}
.ruselt-container h1{
     text-align: center;
     font-size: 2.3rem;
     margin-top: 40px;
     text-decoration: underline;  
}
/* table */
table {
     font-family: arial, sans-serif;
     border-collapse: collapse;
     width: 100%;
     margin-top: 30px;
   } 
   td, th {
     border: 1px solid #dddddd;
     text-align: left;
     padding: 8px;
     font-size: 1rem;
   }
   
   tr:nth-child(even) {
     background-color: #dddddd;
   }







/* mobile device for media */
@media (max-width: 575px) { 
     header h2{
          font-size: 2rem;
     }
     .geo{
          font-size: 1.5rem;
     }
     .blog{
          width: 100px;
          height: 60px; 
     }
     .container{
           flex-direction: column;
           width: 100%;
     }
     .card-box{
          width: 300px;   
     }
     .card-box img{
          width: 200px;
          margin-top: 20px;
     }
 }